/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* icons */
@import url('css/icon.css');







/* ========================
    Footer Section Start
========================== */

/* ========================
    Subscribe Area Start
========================== */

.subscribe-area {
    background: #211e25;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #555;
}

.subscribe-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.subscribe-wrap .subscribe-text p {
    color: #fff;
    font-size: 1.4rem;
}

.subscribe-wrap .subscribe-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    width: 30rem;
}

.subscribe-input input {
    width: 65%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.subscribe-input button {
    width: 35%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: orangered;
    font-size: 1.2rem;
    color: #fff;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.subscribe-input button:hover {
    background: #211e25;
}

/* ======================
    Subscribe Area End
======================== */



/* ================================
    Footer Navigation Area Start
================================== */

.section-footer {
    background: #211e25;
    height: 40vh;
}

.footer-wrap {
    margin-top: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-wrap>div {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-wrap>.footer-menu,
.footer-wrap>.top-products-links,
.footer-wrap>.useful-links {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
}

.footer-wrap>div>h2 {
    padding-bottom: 0.4rem;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
}

.footer-wrap>div>h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 0.2rem;
    width: 3.8rem;
    background: gray;
    border-radius: 0.1rem;
}

.footer-wrap>div>div>p {
    padding-top: 0.6rem;
    color: #fff;
    font-size: 1.1rem;
}

.footer-wrap>div>div {
    padding-top: 0.2rem;
}

.footer-wrap>div>div>p>a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-wrap>div>div>p>a:hover {
    color: orange;
}

.master-cards .payment-cards {
    margin-top: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.payment-cards .payment-link {
    margin: 0.6rem 1rem 0 0;
}

.payment-cards .payment-link a {
    text-decoration: none;

}

.payment-link a span {
    color: #fff;
    font-size: 3rem;
}

.social-media-links {
    margin-top: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-media-links .f-links {
    margin-right: 0.8rem;
}

.social-media-links .f-links a {
    text-decoration: none;
}

.social-media-links .f-links a span {
    color: #fff;
    font-size: 1.2rem;
}

/* ==============================
    Footer Navigation Area End
================================ */



/* ========================
    Copyright Area Start
========================== */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #211e25;
    border-top: 1px solid #555;
}

footer p {
    color: #fff;
    font-size: 1.2rem;
}

footer p a {
    color: #9fcf3d;
    text-decoration: none;
}

/* ======================
    Copyright Area End
======================== */

/* ======================
    Footer Section End
======================== */


/*responsive*/

@media screen and (max-width: 1360px) {
    nav {
        position: fixed;
        top: 0;
        height: 4rem;
        width: 100%;
        border-radius: 0;
    }

    nav .logo {
        margin-left: 4rem;
    }

    nav .search-box {
        width: 28rem;
    }

    nav.active .search-box {
        width: 28rem;
    }

    nav .nav-items {
        position: absolute;
        top: 5rem;
        right: 4rem;
        height: 220px;
        width: 200px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #fff;
        border: 1px solid silver;
        border-radius: 0.2rem;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    nav .nav-items.active-navbar {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .nav-items li {
        margin-right: 0;
        padding: 0.4rem;
    }

    #toggle-bar {
        display: block;
    }

    #hero {
        width: 55%;
    }

    .products .fruit {
        -ms-flex-preferred-size: 48.4%;
        flex-basis: 48.4%;
        margin: 0.59rem 0.4rem;
    }

    .hot-deals {
        height: 920px;
    }

    .hot-deals .countdown-wrap {
        margin-top: 4rem;
        padding-bottom: 3rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .countdown-wrap .timer {
        margin: 3rem;
    }

    .countdown-wrap .timer .timer-bg {
        -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
        transform: rotate(55deg);
    }

    .contact-section {
        height: 120vh;
    }

    .form-area .form-wrap {
        width: 90%;
        height: 620px;
    }

    .subscribe-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .subscribe-wrap .subscribe-text {
        margin-bottom: 1rem;
    }

    .section-footer {
        height: auto;
    }

    .footer-wrap {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer-wrap>div {
        margin-bottom: 3rem;
    }

    .footer-wrap>.company-details {
        -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
    }

    .cart-content .cart-image-area {
        width: 44%;
    }

}

@media screen and (max-width: 1240px) {
    .shopping-details-wrap {
        overflow-x: auto;
    }

    .shopping-details-header,
    .shopping-details {
        width: 1480px;
    }

}

@media screen and (max-width: 1040px) {
    #hero {
        width: 65%;
    }

    .shop-title h1 {
        font-size: 1.8rem;
    }

    .contact-area .contact-info {
        margin-left: 3rem;
    }

    .contact-area .contact-form {
        padding: 0 1.8rem;
    }

}

@media screen and (max-width: 980px) {
    .review-items .review-content {
        width: 98%;
    }
}

@media screen and (max-width: 940px) {
    #hero {
        width: 75%;
    }

    #hero h1 {
        font-size: 2.6rem;
    }

    .products .fruit {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }

    .contact-section {
        height: 162vh;
    }

    .form-area .form-wrap {
        padding-bottom: 3.6rem;
        width: 80%;
        height: auto;
    }

    .form-wrap .contact-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .contact-area .contact-info {
        width: 50%;
        margin-left: 4rem;
    }

    .contact-area .contact-form {
        width: 100%;
        padding: 1rem 4rem 0 4rem;
    }

    nav .search-box {
        width: 18rem;
    }

    nav.active .search-box {
        width: 18rem;
    }

    .countdown-wrap .timer .timer-bg {
        height: 190px;
        width: 190px;
    }

    .countdown-wrap .timer {
        margin: 2rem;
    }

    .cart-contents-area .cart-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .cart-content .cart-image-area {
        height: 380px;
        width: 100%;
    }

}

@media screen and (max-width: 780px) {
    #hero {
        width: 82%;
    }

    .hot-deals {
        height: 890px;
    }

}

@media screen and (max-width: 764px) {
    .hot-deals .section-wrap {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 760px) {
    .icon-links #search-btn {
        display: block;
    }

    nav .search-box {
        width: 20rem;
    }

    nav.active .search-box {
        width: 20rem;
    }

    .search-box {
        position: absolute;
        top: 5rem;
        left: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .search-box.active-search-box {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .search-box .search-icon {
        border-radius: 0 0.2rem 0.2rem 0;
    }

    .search-box input {
        border-radius: 0.2rem 0 0 0.2rem;
    }

    .products .fruit {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .countdown-wrap .timer .timer-bg {
        height: 200px;
        width: 200px;
    }

    .contact-section {
        height: 1100px;
    }

    .form-area .form-wrap {
        width: 88%;
        height: auto;
    }

    .countdown-wrap .timer {
        margin: 2.4rem;
    }

}

@media screen and (max-width: 680px) {
    #hero h1 {
        font-size: 2.4rem;
    }

    .bg-slide-btn {
        bottom: 2rem;
        right: 3rem;
    }

    .featured-products {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .cart-content .cart-image-area {
        height: 260px;
        width: 100%;
    }

    .shopping-cart-wrap .product-cart-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .product-cart-menu .cart-menu-items {
        margin-top: 1rem;
    }

    .shopping-cart-area .shopping-cart-wrap {
        padding: 3rem 1rem;
    }

    .cart-menu-items h2 {
        padding: 0.6rem;
        color: #fff;
        font-size: 1rem;
        background: #2e2e3f;
        border-radius: 0.1rem;
    }

    .cart-menu-items #selected-products.active-cart-menu {
        color: #fff;
        background: -o-linear-gradient(45deg, #4f6b16 20%, green, green);
        background: linear-gradient(45deg, #4f6b16 20%, green, green);
    }

    .cart-menu-items #favorite-products.active-cart-menu {
        color: #fff;
        background: -o-linear-gradient(45deg, #4f6b16 20%, green, green);
        background: linear-gradient(45deg, #4f6b16 20%, green, green);
    }

    .cart-contents-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .buying-product-title.acvie-buying-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 0.6rem;
    }

    .buying-product-title .buy-items-button button {
        margin-top: 0.6rem;
    }

    .cart-content .cart-details h2 {
        font-size: 1.6rem;
    }

    .cart-content .cart-details p {
        font-size: 1.2rem;
    }

    .contact-section {
        height: 1100px;
    }

    .contact-area .contact-info {
        width: 70%;
    }

    .form-area .form-wrap {
        top: -82%;
        width: 88%;
        height: auto;
    }

    .hot-deals {
        height: 1420px;
    }

}
