* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
}

/* -------------------------------------------------------------------------------------------- */
/* SECCION NUMERO 1 */
/* -------------------------------------------------------------------------------------------- */

element.style{
    display:none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 5.5rem;
  position: fixed;
}

.tienda{

  text-decoration: none;
  color: white ;
}

.nav-list{
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  font-weight: 700;
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 15px;
  
}


.nav-list li button{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button p{
  margin-top: 0.4rem;
}
.nav-list button:hover{


  transition: border ease-in-out 250ms;
}

.nav-list a{
  cursor: pointer;
  padding-bottom: 0.2rem;

}

.nav-list a:hover{

  border-radius: 3px;
  transition: border ease-in-out 120ms;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  
}


.b2{
  font-style: italic;
  background-color: transparent !important;
  font-weight: 700;
  font-size: 19px;
  color: white;
  cursor: pointer;
  max-width: 1rem;
  margin-top: -1rem;
  padding-right: 3rem;
  transition: .4s;
}

.nav-list .b2:hover{
  border: none;
  
}

.logo{
  max-width: 9rem;
  padding-left: 2.4rem;
}


.login{
  font-style: italic;
  background-color: transparent !important;
  font-weight: 700;
  font-size: 19px;
  color: white;
  cursor: pointer;
  max-width: 5rem;
  margin-top: -1rem;
  margin-left: rem;
}

.b2:hover,
.login:hover {
cursor: pointer;
filter: brightness(0.7);
fill: #E40b0b;
}

.a-mu{
  display: none;
}

.a-mus{
  display: block;
  background-color: transparent;
  color: white;
  border: none !important;
  width: 5rem;
  cursor: pointer;
  font-size: 2rem;
}

.c-mu{
  display: none;
}

.c-mus{
  display: none;
  background-color: transparent;
  color: #ffffff;
  border: none !important;
  width: 5rem;
  cursor: pointer;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 0rem;
}

header{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 5.5rem;
    position: fixed;
    z-index: 2000;

}

.nav-list{
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 3rem;
    font-weight: 700;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 100rem;
    font-size: 15px;
    float: left;
    
}


.nav-list li button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}



.nav-list a{
    cursor: pointer;
    padding-bottom: 0.2rem;
    border: #ffffff 0px;
}



.icons{

    display: inline-flex;
    align-items: center;
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 1rem;
    margin-top: 2rem;
    padding-right: 2rem;
    transition: .4s;
}

.b2{

    margin-left: 50px;
    margin-right: 20px;

}


.b3 img{
    width: 50px;
    height: 50px;
    margin-left: -17px;
    color: #ffffff;
}




.nav-list .b2:hover{
    border: none;
    
}

.logo{
    max-width: 9rem;
    padding-left: 2.4rem;
    margin-right: 50px;
}


.login{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -2rem;
    margin-left: -0.9rem;
}

.b2:hover,
.login:hover {
  cursor: pointer;
  filter: brightness(0.7);
  fill: #ffffff;
}

.a-mu{
    display: none;
}

.a-mus{
    display: block;
    background-color: transparent;
    color: white;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
}
.c-mu{
    display: none;
}

.c-mus{
    display: none;
    background-color: transparent;
    color: #0b65e4;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0rem;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

  .sec1{

    background-color: #ffffff;
    background-size: cover !important;
    background-size: contain;
    height: 100vh;

  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .slider__navi {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
  }
  
  .slider__navi a {
    display: block;
    height: 6px;
    width: 20px;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.2);
  }
  
  .slider__navi a.active {
    background: rgba(255,255,255,1);
  }
  
  body {
    position: relative;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100vh;
  }
  
  .flex__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap; 
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
  
  .flex__container.flex--active {
    z-index: 2;
  }
  
  .text--sub {
    font-size: 12px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .text--big {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
  }
  
  .text--normal {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-top: 25px;
  }
  
  .text__background {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 72px;
    bottom: -60px;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
  }
  
  .flex__item {
    height: 100vh;
    color: #fff;
    transition: transform 0.1s linear;
  }
  
  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
  }
  
  .flex__item--right {
    width: 35%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
  }
  
  .flex--preStart .flex__item--left,
  .flex--preStart .flex__item--right,
  .flex--active .flex__item--left,
  .flex--active .flex__item--right {
    opacity: 1;
  }
  
  /* Piplup */
  
  .flex--piplup .flex__item--left {
    background: #3e9fe6;
  }
  
  .flex--piplup .flex__item--right {
    background: #d3eaef;
  }
  
  /* Pikachu */
  
  .flex--pikachu .flex__item--left {
    background: #f8d41f;
  }
  
  .flex--pikachu .flex__item--right {
    background: #f4ecc5;
  }
  
  /* Blaziken */
  
  .flex--blaziken .flex__item--left {
    background: #f64f37;
  }
  
  .flex--blaziken .flex__item--right {
    background: #ffebcd;
  }
  
  /* Dialga */
  
  .flex--dialga .flex__item--left {
    background: #476089;
  }
  
  .flex--dialga .flex__item--right {
    background: #ade8f7;
  }
  
  /* Zekrom */
  
  .flex--zekrom .flex__item--left {
    background: #424242;
  }
  
  .flex--zekrom .flex__item--right {
    background: #a7bcbb;
  }
  
  .flex__content {
    margin-left: 80px;
    width: 55%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  }
  
  .pokemon__img {
    position: absolute;
    bottom: 20px;
    right: 15%;
    max-height: 40vw;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  }
  
  /* Animate-START point */
  
  .flex__container.animate--start .flex__content {
    transform: translate3d(0,-200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--start .pokemon__img {
    transform: translate3d(-200px,0,0);
    opacity: 0;
  }
  
  /* Animate-END point */
  
  .flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
  }
  
  .flex__container.animate--end .flex__item--right {
    transform: scaleX(0);
  }
  
  .flex__container.animate--end .flex__content {
    transform: translate3d(0,200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--end .pokemon__img {
    transform: translate3d(200px,0,0);
    opacity: 0;
  }


/* -------------------------------------------------------------------------------------------- */
/* SECCION NUMERO 2 */
/* -------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat');





h2 {
    font-weight: bolder;
    text-align: center;
}

.cart-button-style {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px; 
    z-index: 2000;
}

.cart-button-style-two {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: white;
    color: #7762ff;
    transition: background .5s;
    border-radius: 4px; 
    z-index: 2000;
}

.cart-button-style:hover, #checkout:hover, #apply-promo:hover, .keep-shopping:hover {
    background: #62ff8e;
    color: white;
}

.cart-button-style:active, #checkout:active, #apply-promo:active, .keep-shopping:active {
    background: #ff6884;
    color: white;
}

.products {
    float: left;
    width: 23%;
    margin: 3% 1%;
    text-align: center;
    padding: 0 0 1% 0;
}

.products img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

@media screen and (max-width: 790px) {
    .products {
        width: 47%;
        margin: 1% 1%;
    }
    
    #shop {
        margin: 5% 1%;
    }
}

@media screen and (max-width: 600px) {
    .products {
        width: 100%;
    }
    
    #shop {
        margin: 2% 0;
    }
}

#shop::after {
    content: '';
    display: block;
    clear: both;
}

.add-to-cart {
    display: block;
    margin: 1% auto;
    border-style: none;
    width: 10em;
    height: 3em;
    background: #62ff8e;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    z-index: 2000;
}

.add-to-cart:hover {
    background: #7762ff;
}

.add-to-cart:active {
    background: #62ff8e;
}

.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    background: white;
    transition: all 1s;
    z-index: 1900;
}

.slider.close {
    top: 100vh;
    height: 0;
}

#amount-controls {
    background: white;
    top: 90;
    right: 0;
}

#cart-amount-wrapper {
    background: white;
    padding: 1.5% 0 .5% 35%;
    border-radius: 10px;
}

#cart {
    text-align: left;
    margin: 3.5em 0.5em;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#total::before, #subtotal::before, .product-price::before, .cart-product-price::before, .cart-updated-product-price::before, #discountAmt::before {
    content: '$';
}

#cart #quantity-value {
    width: 45%;
}

.name-col {
  width: 40%;
}
.quantity-col {
  width: 5%;
}
.price-col {
  width: 15%;
}

.updated-price-col {
    width: 25%;
}

.update-col {
    width: 10%
}

.remove-col {
  width: 5%;
}

#update {
    border-style: none;
    text-transform: uppercase;
    padding: 2% 12px;
    width: 100%;
    height: 30px;
    background: #56ff6a;
    color: white;
    border-radius: 10px;
}

#update:hover {
    background: #f0ffe6;
    color: #56ff6a;
}

#update:active {
    background: #56f46a;
    color: white;
}

.remove {
    border-style: none;
    font-weight: bolder;
    padding: 2% 2.5%;
    width: 100%;
    height: 30px;
    background: #ff7b67;
    color: #fff1e7;
    border-radius: 10px;
}

.remove:hover {
    background: #fff1e7;
    color: #ff7b67;
}

.remove:active {
    background: #ff7b67;
    color: #f5f1e7;
}

#cart-products-wrapper {
    overflow-y: auto;
}

#cart-amount-wrapper {
    overflow-x: auto;
}

#promo {
    width: 10em;
    padding: 1em 1em;
    transition: background .5s;
    border-radius: 4px;
}

#apply-promo, #checkout, .keep-shopping {
    border-style: none;
    width: 10em;
    padding: 1em 1em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}
