body{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(3, 2fr);
    font-family: 'Ubuntu', sans-serif;
}

section {
    padding: 20px 0 ;
  }

  .mensaje{
    display: none;
}
  @media screen and (max-width: 1200px){
    .a-mu{
        display: block;
        background-color: transparent;
        color: white;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
    }

    .c-mu{
        display: block;
        background-color: transparent;
        color: #E40b0b;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
        padding-left: 0rem;
        padding-top: 0rem;
    }

    .loader{
        top: calc(67vh - 75px)!important;
        left: calc(40vh - 75px)!important;
      }

    .nav{
        opacity: 0;
        visibility: hidden;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        background-size: cover;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    .nav.visible{
        background-color: black;
        opacity: 1;
        visibility: visible;
        height: 200vh;
        width: 35%;
    }

    .sub-menu-warp{
        max-height: 150vh;
    }

    .b2:hover,
    .login:hover {
    cursor: pointer;
    filter: brightness(1.0);
    fill: #E40b0b;
    }

    .hero-section{
        max-height: 55vh !important;
    }
    


    .sub-menu-warp.open-menu {
        display: flex;
        background-color: #000000f5;
        width: 106%;
        right: -1rem;
        top: -6rem;
        height: 90vh;
        z-index: 1;
      }
      .sub-menu-link{
        margin: 8px 80px 140px;
      }
    .nav-list{
        flex-direction: column;
        align-items: center;
        color: white;

    }
    
    .nav-list button{
        margin: 1rem;
    }

    .login{
        position: relative;
        margin-top: 2rem;
        padding-left: 2rem;
        max-width: 10rem;
        z-index: 2;
    }

    .bot{
        display: none;
    }



    .text_pri2{
        font-size: 37px;
        padding-left: 0rem;
        margin-left: -1.8rem;

    }

    .sec2-el{
        padding: 3rem;
    }
}

@media screen and (max-width:970px){
    .hero-section{
        max-height: 118vh !important;
    }
}

@media screen and (max-width:820px){

    .Text_princp{
        font-size: 30px;
        padding-top: 22rem;
    }
    
    .sec6{
        height: 195vh;
    }
    .text_second{
        vertical-align: center;
        width: 20rem;
        margin-left: 1rem;
        padding-top: 8rem;
        padding-right: -40rem;
        font-size: 20.4px;
    }

    .sec2{
        height: 85%;
        min-height: 45vh;
        position: static;
    }

    .emp-ahr{
        vertical-align: center;
        margin-left: -4rem;
        padding-right: -40rem;
    }
    .sec2-el h1{
        font-size: 23px;
        position:relative;
        left: 3rem; 
        margin-bottom:-1rem;
    }

    .sec2-pd .text_red{
        position:relative;
        left: 1rem; 
    }

    .sec2-pd .p-4{
    position:relative;
        left: 1rem; 
    }

    .bt{
        padding-top: 4rem;
       padding-left: 3.6rem; 
    }

    .sec2-el p{
        font-size: 15px;
        position:relative;
        left: -2rem; 
        white-space: nowrap;
        font-weight: bolder;
        align-items: center;
        text-align: center;
    }

    .sec2-pd{
        margin-top: 5rem;
        padding-left: 4rem;
        align-items: center;
        text-align: center;
        vertical-align: center;
        margin-left: 5rem;
        margin: 15% 6px 15px;
        font-size: 30px;
    }

    .sec2-el{
        padding: 1rem;
    }

    .sec2-pd{
        margin-left: -2.7rem;
    }


    .cont_items{
        display: block;
    }

    .cont_items{
        display:block;
    }
    
        .contenedor{
            margin-top: 3rem;
            margin-bottom: 10rem;
                
        }
    
        .vist-plns{
            margin-top: 3rem;
           position: relative;
        }
    
        .text_pri2{
            position: relative;
     
        }
        .sec2-el{
            padding-top: 2rem;
        }
    
    .nav{
        gap: 2rem;
    }

    .nav-list{
        position: absolute;
        right: 1.3rem !important;
        top: 6rem;
        gap: 5.5rem;
    }
    
 /* SecciÃ³n 5*/

    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info{
        padding: 10px 25px;
    }

    .img-slider .slide .info h2{
        font-size: 35px;     
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;
    }

    .img-slider .navigation .btn-carrusel{
        width: 10px;
        height: 10px;
        margin: 8px;
    }

    .marquee {
        display: flex;
        width: 48rem;
        align-items: center;
        justify-content: flex-start;
        
    }
    .marquee__group{
        max-width: 181%;
    }


    .sec4{
        height: 280vh;
    }


    .sec4 hr{
        margin-bottom: 5rem;
    }

    .fila-pago{
        display: inline-block;
        width: 60%;
        margin-left: 7rem;
    }

    .co-pag1{
        border-radius: 50px;
    }

    .co-pag2{
        border-radius: 50px;
    }

    .co-pag3{
        border-radius: 50px;
        
    }
    .columna-pago{
        margin-bottom: 3rem;
    }

    .card-groups,
    .card-group,
    .big-card {  
        width: 60vmin;
    }

    .card-swiper-buttons { 
        margin-bottom: 5rem;
    }
    .card-swiper-buttons > button {
        width: 5rem;
        height: 5rem;
    }

    .fa-solid, .fas { 
        font-size: 1.1rem;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

  .nav-list{
    right: 4.8rem ;
    }
    #fix{
    right: 1rem !important;
    }
    .nav-list2{
     right: 1.2rem !important;
    }
    .nav.visible{
    width: 10rem !important;
    }
    
    ::-webkit-scrollbar{
    width:10px;
    background-color: #40191c;
    z-index: 99;

    }

    ::-webkit-scrollbar-thumb{
    background: #A21112;
    border-radius: 3rem;
    }


@media screen and (max-width: 700px) {
    
    .img-slider{
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info{
        padding: 10px 20px;
    }

    .img-slider .slide .info h2{
        font-size: 30px;     
    }

    .img-slider .slide .info p{
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navigation{
        bottom: 15px;
    }

    .img-slider .navigation .btn-carrusel{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}


@media screen and (max-width: 600px) {
    
    .img-slider{
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info{
        padding: 5px 10px;
    }

    .img-slider .slide .info h2{
        font-size: 25px;     
    }

    .img-slider .slide .info p{
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navigation{
        bottom: 10px;
    }


}



@media screen and (width:1200px) and (max-width:2000px){
    
    .Text_princp{
    margin-top: 60px;
    padding: 60px 0;
    }

    
    .logo{
        max-width: 5rem;
    }

    
}

@media screen and (height:600px){
    .Text_princp{
        margin-top: 40px;
        padding: 20px 0;
    
    }
    
}

    
@keyframes line-1-animation{
    0%   {background-color: #E40b0b; width: 0%;}
    100% {background-color: #C30E0E; width: 150px;}
}

@media (prefers-color-scheme: dark) {
    :root {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }

  .card2{
    z-index: 1;
  }

  .footer{
    position: relative;
    z-index: 3;
  }



  @media screen and (max-width:500px){
    .marquee{
        margin-left: -27vh;
    }

    .contenedor .contenedor-items .item .img-item{
        position: relative;
        left: 5.5rem;
    }
    
}

@media screen and (max-width:420px){
    .sec4{
        height: 210vh;
    }

    .loader{
        top: calc(50vh - 75px)!important;
        left: calc(22vh - 75px)!important;
      }


    .sec6{
        height: 230vh;
    }
    
}

@media screen and (max-width:780px){
    .hero-section{
        max-height: 90vh !important;
    }

}

@media screen and (max-width:540px){
    .hero-section{
        max-height: 290vh !important;
    }
}

@media screen and (max-width:400px){
    .sec4{
        height: 275vh;
    }

    
}


@media screen and (max-width:390px){
    .sec4{
        height: 265vh;
    }
    .loader{
        top: calc(72vh - 75px)!important;
        left: calc(37vh - 75px)!important;
      }

      .hero-section{
        max-height: 318vh !important;
    }

    
}

@media screen and (max-width:360px){

    .loader{
        top: calc(70vh - 75px)!important;
        left: calc(35vh - 75px)!important;
      }
      
}

@media screen and (max-width: 930px) and (max-height: 420px) {
section{
    display: none;
}

.sec2{
    display: none;
}

.sec3{
    display: none;
}

.sec4{
    display: none;
}

.sec5{
    display: none;
}

.sec6{
    display: none;
}
     html{
        background-color: black;
     }
header{
    display: none;
}
footer{
    display: none;
}
     .mensaje{
        display: grid;
        z-index: 99999999;
     }

    .mensaje img{
        display: flex;
        align-items: center; 
        text-align: center;
        color: beige;
        z-index: 99999999;
        position: relative;
        margin-top: 1rem;
        left: 11rem;
        max-width: 20rem;
    }
}