@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 45px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.a-mu{
    display: none;
}

.a-mus{
    display: block;
    background-color: transparent;
    color: white;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
}

.c-mu{
    display: none;
}

.c-mus{
    display: none;
    background-color: transparent;
    color: #E40b0b;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0rem;
}


.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	margin-top: 25px;
}

.emp-ahr{
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid #C30E0E;
    padding: 1rem;
    border-radius: 3rem;
    width: 13rem;
    font-weight: 700;
    line-height: 27.58px;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 15px;
    position: static;
    transition: .50s;
    margin-top: 25px;
    cursor: pointer;
  }
  .emp-ahr::after {
    content: "";
    position: static;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
  }
  .emp-ahr::before {
    content: "";
    transform-origin: center;
    position: static;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }
  .emp-ahr:hover::before, .emp-ahr:hover::after {
    transform: scale(0)
  } 
  .emp-ahr:hover {
    box-shadow: inset 0px 0px 25px #C30E0E;
  }

.btn:hover {
	transform: scale(0.98);
}

@media screen and (max-width: 820px){
	.nav-list {
		right: 0.5rem !important;
	}
}

@media screen and (max-width: 1200px){
	.nav.visible {
		width: 53% !important;
	}

}