* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
}

element.style{
    display:none;
}


header{
    display: flex;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 5.5rem;
    position: fixed;
    z-index: 2;
}

.nav-list{
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    font-weight: 700;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 15px;
    
}


.nav-list li button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}



.nav-list a{
    cursor: pointer;
    padding-bottom: 0.2rem;
    border: #ffffff 0px;
}



.icons{

    display: inline-flex;
    align-items: center;
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 1rem;
    margin-top: 2rem;
    padding-right: 2rem;
    transition: .4s;
}

.b2{

    margin-left: 50px;
    margin-right: 20px;

}


.b3 img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    color: #ffffff;
}




.nav-list .b2:hover{
    border: none;
    
}

.logo{
    max-width: 9rem;
    padding-left: 2.4rem;
    margin-right: 50px;
}


.login{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -2rem;
    margin-left: -0.9rem;
}

.b2:hover,
.login:hover {
  cursor: pointer;
  filter: brightness(0.7);
  fill: #ffffff;
}

.a-mu{
    display: none;
}

.a-mus{
    display: block;
    background-color: transparent;
    color: white;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
}
.c-mu{
    display: none;
}

.c-mus{
    display: none;
    background-color: transparent;
    color: #0b65e4;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0rem;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

  .sec1{

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/Fondo_index.png) no-repeat center center fixed;
    background-size: cover !important;
    background-size: contain;
    height: 100vh;

  }

  .slider-container {
    width: 100%;
    overflow: hidden;
    position: relative; /* Establece una posición relativa */
    z-index: 1; /* Asegura que el slider esté en un nivel inferior */
  }
  
  .slider {
    display: flex;
    width: 100%; /* Ajusta este valor según la cantidad de imágenes que tengas */
    transition: transform 0.4s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 860px;
  }

  .slider-controls {
    margin-top: 10px;
    text-align: center;
  }
  
  .prev-button,
  .next-button {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
  }
  
