*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/Fondo_index.png);
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    font-weight: 700;
    color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    
}


.nav-list li button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-list button{

    font-style: italic;
    background-color: #E40b0b;
    border: transparent;
    border-radius: 50px;
    width: 150px;
    height: 42px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-top: -0.5rem;
    transition: .3s;
    
}

.nav-list button:hover{
    background-color: black;
    border: #E40b0b solid;
}

.nav-list a{
    cursor: pointer;
    padding-bottom: 0.2rem;
    border: #E40b0b 0px;
}

.nav-list a:hover{
    border: #E40b0b solid 4px;
    border-radius: 3px;
    transition: border ease-in-out 120ms;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    
}

.nav-list .b2:hover{
    border: none;
    
}

.b2{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -2rem;
    padding-right: 3rem;
    transition: .4s;
}


.logo{
    max-width: 7rem;
}


.login{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -0.5rem;
}

.a-mu{
    display: none;
}

.c-mu{
    display: none;
}

@media screen and (max-width:750px){
    .a-mu{
        display: block;
        background-color: transparent;
        color: white;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
    }

    .c-mu{
        display: block;
        background-color: transparent;
        color: #E40b0b;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 0rem;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }




    .nav-list{
        flex-direction: column;
        align-items: center;
        color: white;

    }
    
    .nav-list button{
        margin: 1rem;
    }

}













