* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
}

/* -------------------------------------------------------------------------------------------- */
/* SECCION NUMERO 1 */
/* -------------------------------------------------------------------------------------------- */

element.style{
    display:none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 5.5rem;
  position: fixed;
}

.tienda{

  text-decoration: none;
  color: white ;
}

.nav-list{
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  font-weight: 700;
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 15px;
  
}


.nav-list li button{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button p{
  margin-top: 0.4rem;
}
.nav-list button:hover{


  transition: border ease-in-out 250ms;
}

.nav-list a{
  cursor: pointer;
  padding-bottom: 0.2rem;

}

.nav-list a:hover{

  border-radius: 3px;
  transition: border ease-in-out 120ms;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  
}


.b2{
  font-style: italic;
  background-color: transparent !important;
  font-weight: 700;
  font-size: 19px;
  color: white;
  cursor: pointer;
  max-width: 1rem;
  margin-top: -1rem;
  padding-right: 3rem;
  transition: .4s;
}

.nav-list .b2:hover{
  border: none;
  
}

.logo{
  max-width: 9rem;
  padding-left: 2.4rem;
}


.login{
  font-style: italic;
  background-color: transparent !important;
  font-weight: 700;
  font-size: 19px;
  color: white;
  cursor: pointer;
  max-width: 5rem;
  margin-top: -1rem;
  margin-left: rem;
}

.b2:hover,
.login:hover {
cursor: pointer;
filter: brightness(0.7);
fill: #E40b0b;
}

.a-mu{
  display: none;
}

.a-mus{
  display: block;
  background-color: transparent;
  color: white;
  border: none !important;
  width: 5rem;
  cursor: pointer;
  font-size: 2rem;
}

.c-mu{
  display: none;
}

.c-mus{
  display: none;
  background-color: transparent;
  color: #ffffff;
  border: none !important;
  width: 5rem;
  cursor: pointer;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 0rem;
}

header{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 5.5rem;
    position: fixed;
    z-index: 2000;

}

.nav-list{
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 3rem;
    font-weight: 700;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 100rem;
    font-size: 15px;
    float: left;
    
}


.nav-list li button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}



.nav-list a{
    cursor: pointer;
    padding-bottom: 0.2rem;
    border: #ffffff 0px;
}



.icons{

    display: inline-flex;
    align-items: center;
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 1rem;
    margin-top: 2rem;
    padding-right: 2rem;
    transition: .4s;
}

.b2{

    margin-left: 50px;
    margin-right: 20px;

}


.b3 img{
    width: 50px;
    height: 50px;
    margin-left: -17px;
    color: #ffffff;
}




.nav-list .b2:hover{
    border: none;
    
}

.logo{
    max-width: 9rem;
    padding-left: 2.4rem;
    margin-right: 50px;
}


.login{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -2rem;
    margin-left: -0.9rem;
}

.b2:hover,
.login:hover {
  cursor: pointer;
  filter: brightness(0.7);
  fill: #ffffff;
}

.a-mu{
    display: none;
}

.a-mus{
    display: block;
    background-color: transparent;
    color: white;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
}
.c-mu{
    display: none;
}

.c-mus{
    display: none;
    background-color: transparent;
    color: #0b65e4;
    border: none !important;
    width: 5rem;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0rem;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

  .sec1{

    background-color: #ffffff;
    background-size: cover !important;
    background-size: contain;
    height: 100vh;

  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .slider__navi {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
  }
  
  .slider__navi a {
    display: block;
    height: 6px;
    width: 20px;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.2);
  }
  
  .slider__navi a.active {
    background: rgba(255,255,255,1);
  }
  
  body {
    position: relative;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100vh;
  }
  
  .flex__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap; 
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
  
  .flex__container.flex--active {
    z-index: 2;
  }
  
  .text--sub {
    font-size: 12px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .text--big {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
  }
  
  .text--normal {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-top: 25px;
  }
  
  .text__background {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 72px;
    bottom: -60px;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
  }
  
  .flex__item {
    height: 100vh;
    color: #fff;
    transition: transform 0.1s linear;
  }
  
  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
  }
  
  .flex__item--right {
    width: 35%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
  }
  
  .flex--preStart .flex__item--left,
  .flex--preStart .flex__item--right,
  .flex--active .flex__item--left,
  .flex--active .flex__item--right {
    opacity: 1;
  }
  
  /* Piplup */
  
  .flex--piplup .flex__item--left {
    background: #3e9fe6;
  }
  
  .flex--piplup .flex__item--right {
    background: #d3eaef;
  }
  
  /* Pikachu */
  
  .flex--pikachu .flex__item--left {
    background: #f8d41f;
  }
  
  .flex--pikachu .flex__item--right {
    background: #f4ecc5;
  }
  
  /* Blaziken */
  
  .flex--blaziken .flex__item--left {
    background: #f64f37;
  }
  
  .flex--blaziken .flex__item--right {
    background: #ffebcd;
  }
  
  /* Dialga */
  
  .flex--dialga .flex__item--left {
    background: #476089;
  }
  
  .flex--dialga .flex__item--right {
    background: #ade8f7;
  }
  
  /* Zekrom */
  
  .flex--zekrom .flex__item--left {
    background: #424242;
  }
  
  .flex--zekrom .flex__item--right {
    background: #a7bcbb;
  }
  
  .flex__content {
    margin-left: 80px;
    width: 55%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  }
  
  .pokemon__img {
    position: absolute;
    bottom: 20px;
    right: 15%;
    max-height: 40vw;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  }
  
  /* Animate-START point */
  
  .flex__container.animate--start .flex__content {
    transform: translate3d(0,-200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--start .pokemon__img {
    transform: translate3d(-200px,0,0);
    opacity: 0;
  }
  
  /* Animate-END point */
  
  .flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
  }
  
  .flex__container.animate--end .flex__item--right {
    transform: scaleX(0);
  }
  
  .flex__container.animate--end .flex__content {
    transform: translate3d(0,200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--end .pokemon__img {
    transform: translate3d(200px,0,0);
    opacity: 0;
  }


/* -------------------------------------------------------------------------------------------- */
/* SECCION NUMERO 2 */
/* -------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat');





.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 1000px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
    
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }
