*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    bottom: auto;
    right: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/Fondo_index.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.b1{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    bottom: auto;
    right: auto;
    font-style: italic;
    background-color: #E40b0b;
    border: none;
    border-radius: 50px;
    width: 174px;
    height: 42px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    padding-top: 0.5rem;
    
}

.b1 p{
    padding-left: 1.5rem;
}


header{
    width: 100%;
    height: 130px;
    font-size: 20px;
    text-align: right;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-top: 42px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 90px;
    height: auto;
    position: static;
    margin-left: 2rem;
    margin-right: 1.6rem;
    padding-left: 0.1px;
    padding-right: 15px;
    padding-top: 0.1px;
}

#b2{
    display: flex;
    flex-wrap: wrap;
    float: right;
    padding-top: 2.2rem;
    position: static;
    margin-left: -2rem;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: auto;
    padding-top: auto;
}

li:hover{
    border-bottom: #E40b0b;
    border-radius: 5px;
}

