*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../img/Fondo_index.png) no-repeat center center fixed;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    font-weight: 700;
    color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    
}


.nav-list li button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-list button{

    font-style: italic;
    background-color: #E40b0b;
    border: transparent;
    border-radius: 50px;
    width: 150px;
    height: 42px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-top: -0.5rem;
    transition: .3s;
    
}

.nav-list button:hover{
    background-color: black;
    border: #E40b0b solid;
    transition: border ease-in-out 250ms;
}

.nav-list a{
    cursor: pointer;
    padding-bottom: 0.2rem;
    border: #E40b0b 0px;
}

.nav-list a:hover{
    border: #E40b0b solid 4px;
    border-radius: 3px;
    transition: border ease-in-out 120ms;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    
}


.b2{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -1rem;
    padding-right: 3rem;
    transition: .4s;
}

.nav-list .b2:hover{
    border: none;
    
}


.logo{
    max-width: 7rem;
}


.login{
    font-style: italic;
    background-color: transparent !important;
    font-weight: 700;
    font-size: 19px;
    color: white;
    cursor: pointer;
    max-width: 5rem;
    margin-top: -1rem;
    margin-left: -0.9rem;
}

.b2:hover,
.login:hover {
  cursor: pointer;
  filter: brightness(0.7);
  fill: #E40b0b;
}



.a-mu{
    display: none;
}

.c-mu{
    display: none;
}

@media screen and (max-width:1000px){
    .a-mu{
        display: block;
        background-color: transparent;
        color: white;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
    }

    .c-mu{
        display: block;
        background-color: transparent;
        color: #E40b0b;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 0rem;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: fit-content !important;;
        background-color: black;
        background-size: cover;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }




    .nav-list{
        flex-direction: column;
        align-items: center;
        color: white;

    }
    
    .nav-list button{
        margin: 1rem;
    }

    .login{
        padding-left: 4rem;
        max-width: 10rem;
    }

}

.Text_princp{
    text-align: center;
    padding: 3rem;
    padding-left: 1rem;
    color: white;
    font-weight: 700px;
    font-size: 50px;
    line-height: 57.45px;
    font-style: normal;
    position: static;
}

.text_second{
    padding: 7rem;
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    line-height: 22.98px;
    font-style: normal;
    margin-top: -8rem;
    color: white;
    position: static;
}

.line-1{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    width: 197px;
    margin-left:0rem;
    margin-top: -10.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    border: 3px solid #C30E0E;
    position: static;
    animation-name: line-1-animation;
    animation-duration: 1.9s;
}

.b3{
    text-align: center;
    padding: 60px 0;
}

.emp-ahr{
    display: inline;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid #C30E0E;
    padding: 2rem;
    border-radius: 3rem;
    width: 18rem;
    font-weight: 700;
    line-height: 27.58px;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 0rem;
    position: static;
    transition: .50s;
    margin-top: -1.5rem;

  }
  
  .emp-ahr::after {
    content: "";
    position: static;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .emp-ahr::before {
    content: "";
    transform-origin: center;
    position: static;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }
  
  .emp-ahr:hover::before, .emp-ahr:hover::after {
    transform: scale(0)
  }
  
  .emp-ahr:hover {
    box-shadow: inset 0px 0px 25px #C30E0E;
  }







@keyframes line-1-animation{
    0%   {background-color: #E40b0b; width: 0%;}
    100% {background-color: #C30E0E; width: 197px;}
}