body {
    display: grid;
    background-color: #000 !important;
    margin-top: 40px;
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
}

.card{
    margin-top: 80px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}
button{
    color: white !important;
}
label.btn {
    display: inline;
    /* vertical-align: middle; */
    /* background-color: transparent; */
    border: 3px solid #C30E0E;
    padding: 0.55rem;
    border-radius: 3rem;
    width: 13rem;
    font-weight: 700;
    /* line-height: 27.58px; */
    font-size: 20px;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 15px;
    position: static;
    transition: .50s;
    margin-top: -4rem;
    cursor: pointer;
    margin-bottom: 0;
}


.btn-primary{
    display: inline;
    /* vertical-align: middle; */
    /* background-color: transparent; */
    border: 3px solid #C30E0E !important;
    padding: 0.55rem;
    border-radius: 3rem !important;
    width: 13rem;
    font-weight: 700;
    /* line-height: 27.58px; */
    font-size: 20px;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 15px;
    position: static;
    transition: .50s !important;
    margin-top: -4rem;
    cursor: pointer;
    margin-bottom: -66px !important;
    background-color: transparent !important;
}

.btn-primary:hover{
    background-color: #E40b0b !important;
}

label.btn:hover{
    background-color: #E40b0b !important;
    border-color: #E40b0b !important;
}

.no-gutters{
    background-color: #0c0b0b !important;
    color: white;
}

.col-md-3 pt-0{
    background-color: #000 !important;
    color: white;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
    color     : #A21112 !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    color: white;
    background-color: #0c0b0b !important;
    border-color: rgb(34 40 47 / 3%) !important;
}

.a-mu{
    display: none;
}

.c-mu{
    display: none;
}


@media screen and (max-width:1200px){
    .a-mu{
        display: block;
        background-color: transparent;
        color: white;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
    }

    .c-mu{
        display: block;
        background-color: transparent;
        color: #E40b0b;
        border: none !important;
        width: 5rem;
        cursor: pointer;
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 0rem;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        background-size: cover;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        color: white;

    }
    
    .nav-list button{
        margin: 1rem;
    }

    .login{
        padding-left: 4rem;
        max-width: 10rem;
    }


    .logo{
        max-width: 8rem;
    }
}