body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),url(../img/ricardo-henri-IBlWVIGnXag-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
}

.form-main{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    border-radius: 10px;
    border: 3px solid red;
    overflow: hidden;
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.682),
    0 10px 10px rgba(0, 0, 0, 0.682);
    opacity: 1;
}

.form-main .login-container{
    width: 500px;
    margin: 0 auto;
}

.form-main .login-container > h2{
    text-align: center;
    font-size: 2.4rem;
}

.form-main .login-container > p,
.form-main .login-container > span{

    text-align: center;
    color: #555;
    font-size: 14px;
	letter-spacing: 0.5px;

}

.form-main .login-container label{ 
    display: block;
    font-weight: bold;
    padding: 3px 0;
}

.form-main .login-container input.input-texto{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.form-main .login-container input.input-texto:focus{

    outline: solid 2px #0099ff;

}

.form-main .login-container .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-main .login-container .options a{
    color: #0099ff;
    text-decoration: none;
}

.form-main .login-container .options a{
    color: #0099ff;
    text-decoration: none;
}

.form-main .login-container .options a:hover{
    text-decoration: underline;
}

.form-main .login-container .providers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
}

.btn{
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-login{
    background-color: black;
    color: white;
}

.btn.btn-login:hover{
    background-color: #333;

}

.btn.btn-facebook{
    background-color: #3b5998;
    color: white;
}

.btn.btn-facebook:hover{
    background-color: #3b5998;
}

.btn.btn-google{
    background-color: white;
    color: black;
    border: solid 1px #ccc;
}

.btn.btn-google:hover{
    background-color: rgb(240, 235, 235);
}

.form-main .container-registro{
    background-color: rgba(228, 11, 11, 0.9);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.form-main .container-registro .el-registro{
    margin: 0px auto;

}

.form-main .container-registro .el-registro > h2{

    text-align: center;
    color: #ffffff;
	letter-spacing: 0.5px;

}

.form-main .container-registro .el-registro > p{
    text-align: center;
    color: #ffffffc0;
    font-size: 14px;
	letter-spacing: 0.5px;
}

.form-main .container-registro .btn-registrarse{

    border: none;
    padding: 15px 0;
    width: 80%;
    font-weight: bolder;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (max-width: 1280px){
    .form-main{

        width: 95%;

    }

    .form-main .login-container{

        width: 400px;
        margin: 0 auto;

    }

    .form-main .container-registro{

        width: 40%;

    }
}

@media screen and (max-width:730px){

    .form-main .login-container{

        width: 350px;

    }

    .form-main .container-registro{

        width: 0;

    }
    
}